<!DOCTYPE html>
<html>
<head>
<title>New Post</title>
<link rel="stylesheet" href="/static/style.css">
</head>
<body>
<header>
<h1>Create Post</h1>
<nav><a href="/">Home</a></nav>
</header>
<div class="container">
<form method="post" action="/post/create">
Title: <input type="text" name="title"><br>
Content:<br>
<textarea name="content" rows="5" cols="40"></textarea><br>
Categories:<br>
{{range .}}
<label><input type="checkbox" name="categories" value="{{.ID}}">{{.Name}}</label><br>
{{end}}
<input type="submit" value="Create">
</form>
</div>
</body>
</html>
